/* ===============================================
   FOOTER.CSS - Pie de Página
   ===============================================
   Footer estándar con información de copyright
   y enlaces
   =============================================== */

footer {
    background-color: #0d0d0d;
    /* Fondo bien oscuro */
    color: var(--color-texto);
    padding-top: 1rem;
    border-top: 3px solid var(--color-neon);
    /* Línea neón arriba */
    margin-top: auto;
    /* Truco del footer pegajoso (backup) */
}

/* --- GRILLA RESPONSIVA AUTOMÁTICA --- 
   . No uso @media queries.
   repeat autofit significa: "Creame tantas columnas como entren, 
   pero que NUNCA sean más chicas de 250px".
   Si no entran, bajalas al renglón de abajo solas. */
.footer-container {
    max-width: var(--max-width-container);
    margin: 0 auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

/* Estilos de las Columnas */
.footer-col h3 {
    color: var(--color-neon);
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-col p {
    color: #aaa;
    line-height: 1.4;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

/* Lista de Links (Sacamos los puntitos) */
.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 5px;
}

.footer-links a {
    text-decoration: none;
    color: #ccc;
    transition: var(--transition-rapida);
}

.footer-links a:hover {
    color: var(--color-neon);
    padding-left: 5px;
    /* Efecto de moverse a la derecha */
}

/* Copyright (Abajo de todo) */
.copyright {
    text-align: center;
    padding: 15px;
    margin-top: 1.5rem;
    border-top: 1px solid #333;
    font-size: 0.8rem;
    color: #666;
}

.redes-sociales a {
    font-style: italic;
    color: red;
    text-decoration: none;
}